* {
    margin: 0;
    padding: 0;
}

.ul {
	float: right;
	position: relative;
	margin:0;
}

.ul li {
	float: left;
	position: relative;
	margin: 0px 15px 0px;
}

.ul li a {
	position: relative;
	float: left;
	display: block;
	font-size: 17px;
	line-height: normal;
	color: black;
	font-family:Arial, Helvetica, sans-serif;
	text-transform: uppercase;
}

.ul li ul.sub-menu {
	display: none;
	width: 163px;
	position: absolute;
	top: 80%;
	left: 0;
	background-color: #3c3c3c;
	padding: 0px 0;
	z-index: 999;
}

.ul li:hover ul.sub-menu {
	display: block;
}

.sub-menu li a:after {
	display: none;
}

.sub-menu li {
	width: 100%;
	float: left;
	border-bottom: 1px solid rgba(255,255,255,0.2);
	margin: 0;
	padding: 0
}

.sub-menu li a {
	float: left;
	font-size: 15px;
	width: 100%;
	line-height: normal;
	padding: 9px 12px 8px;
	color: #fff;
	display: block;
	text-transform: uppercase;
}

.sub-menu li a:hover {
	background-color: aquamarine;
    color: darkblue;
    text-align: center;
}

.ul ul a:after {
	display: none;
}

.ul li.wide-menu {
	position: static;
}

.ul li.wide-menu ul {
	position: absolute;
	left: 0;
	top: 100%;
	width: 670px;
	background-color: #3c3c3c;
	padding: 10px;
	z-index: 999;
	display: none;
}

.ul li.wide-menu:hover ul {
	display: block;
}

.ul li.wide-menu ul li {
	width: 32%;
	margin: 0px .5%;
	padding: 7px 0;
	float: left;
	border: 0
}

.ul li.wide-menu ul li a {
	text-transform: capitalize;
	font-size: 14px;
	padding: 0;
	width: 100%;
	float: left;
	border: 0;
	background-color: transparent;
	transition-duration: 0.5s;
}

.pages .page-2.html {


}


